<div class="main-container">
    <div class="resetPasswordDiv">
        <p class="heading">Reset Password</p>
        <form action="" [formGroup]="resetPassword" (ngSubmit)="changePassword()">
        <label for="password">New Password</label>
        <input type="password" formControlName="password" placeholder="Enter New Password">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" placeholder="Re-Enter Password">
        <br>
        <button type="submit" class="submitBtn">Reset Password</button>
    </form>
    </div>
</div>
