<div class="profile-container">
  <div class="heading">
    <p>Table Data Management</p>
  </div>
  <div class="dropdown">
  <!-- Profile image acts as the toggle (no arrow) -->
  <a
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    id="dropdownMenuLink"
    class="profileImg"
  >
      <img src="assets/images/profileIcon.png" alt="Profile" class="rounded-circle" width="40" height="40" />

    <!-- <img src="https://th.bing.com/th/id/OIP.lcw2oiBXF_OUf8TTl8s6FwHaHa?w=173&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3" alt="Profile" class="rounded-circle" width="40" height="40" /> -->
  </a>

  <!-- Dropdown menu -->
  <ul class="dropdown-div dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
    @for (item of items; track $index) {
      @if (item.roles.includes(currentUser)) {
        <li>
          <a
            class="dropdown-item"
            [routerLink]="item.routeLink"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="item.routeLink === 'signout' && onSignOutClick($event)"
          >
            {{ item.label }}
          </a>
        </li>
      }
    }
  </ul>
</div>

<div class="modal-backdrop" *ngIf="showSignOutConfirm">
    <div class="modal">
        <h3>Sign Out</h3>
        <p>Are you sure you want to sign out?</p>
        <div class="modal-actions">
            <button (click)="confirmSignOut()" class="signOutBtn">Yes, Sign Out</button>
            <button (click)="cancelSignOut()" class="cancelBtn">Cancel</button>
        </div>
    </div>
</div>
</div>