<div class="trainer-assignment-container">
  <h2 class="section-title">Staff Management</h2>

  <div>
    <div class="errorResponse" *ngIf="errorMsg">
      <p class="closeMsg" (click)="closeResponse()"><span>&times;</span></p>
      <p class="responseText">{{errorText}}</p>
    </div>
    <div class="successResponse" *ngIf="successMsg">
      <p class="closeMsg" (click)="closeResponse()"><span>&times;</span></p>
      <p (click)="closeResponse()" class="responseText">{{successText}}</p>
    </div>
  </div>

  <!-- Add Staff Button (left-aligned) -->
  <div style="
      display: flex;
      justify-content: flex-end;
      margin-bottom: 16px;
      margin-right: 16px;
    ">
    <button class="add-btn" (click)="openAddStaffModal()">
      + Add Staff
    </button>
  </div>

  <!-- Search by Email -->
  <div style="flex-direction: column; margin-bottom: 20px; margin-right: 16px;">
    <input type="text" class="add-trainer-input" style="max-width: 300px;" placeholder="Search by staff email..."
      name="searchEmail" [(ngModel)]="itemFilter.email" autocomplete="off" />
  </div>
  <div *ngIf="isLoading">
    <app-loading-spinner style="text-align:center ;"></app-loading-spinner>
  </div>



  <!-- Filter Bar
  <form class="filter-bar" (ngSubmit)="onSearch()" #filterForm="ngForm">
    <div class="filter-fields">
      <label for="unit-select" class="visually-hidden">Unit</label>
      <select
        id="unit-select"
        class="dropdown"
        [(ngModel)]="selectedUnit"
        name="unit"
      >
        <option value="">Unit</option>
        <option *ngFor="let unit of units" [value]="unit">{{ unit }}</option>
      </select>

      <label for="district-select" class="visually-hidden">District</label>
      <select
        id="district-select"
        class="dropdown"
        [(ngModel)]="selectedDistrict"
        name="district"
        [disabled]="!selectedState"
      >
        <option value="">District</option>
        <option
          *ngFor="let district of districtsByState[selectedState] || []"
          [value]="district"
        >
          {{ district }}
        </option>
      </select>

      <label for="state-select" class="visually-hidden">State</label>
      <select
        id="state-select"
        class="dropdown"
        [(ngModel)]="selectedState"
        name="state"
        (change)="selectedDistrict=''"
      >
        <option value="">State</option>
        <option *ngFor="let state of states" [value]="state">
          {{ state }}
        </option>
      </select>

      
    </div>
    <button type="submit" class="search-btn">Search</button>
    <button type="button" class="reset-btn" (click)="onReset()">Reset</button>
  </form> -->


  <!-- Add Staff Modal -->
  <div class="modal-backdrop" id="exampleModalLong" tabindex="-1" aria-labelledby="exampleModalLongTitle"
    *ngIf="showAddStaffModal">
    <div class="modal">
      <h3>Add Staff Details</h3>

      <p type="button" class="btn-close case close closeBtn" (click)="closeAddStaffModal()"> <span>&times;</span>
      </p>
      

      <form (ngSubmit)="addStaff()" [formGroup]="addStaffForm">
              <!-- Email -->
        <label for="staffEmail">Email<span class="asterisk">*</span></label>
        <input id="staffEmail" type="email" placeholder="Enter Email" formControlName="staffEmail" required
          class="add-trainer-input" autocomplete="off" />
        @if(addStaffForm.get('staffEmail')?.invalid && (addStaffForm.get('staffEmail')?.dirty ||
        addStaffForm.get('staffEmail')?.touched)){
        <div class="alert">
          @if (addStaffForm.get('staffEmail')?.hasError('required')) {
          <div>Email is required.</div>
          }
          @if(addStaffForm.get('staffEmail')?.hasError('email')){
          <div>Please enter valid email</div>
          }
        </div>
        }

        <!-- First Name -->
        <label for="staffFirstName">First Name<span class="asterisk">*</span></label>
        <input id="staffFirstName" type="text" placeholder="Enter First Name" formControlName="staffFirstName" required
          class="add-trainer-input" autocomplete="off" />
        @if(addStaffForm.get('staffFirstName')?.invalid && (addStaffForm.get('staffFirstName')?.dirty ||
        addStaffForm.get('staffFirstName')?.touched)){
        <div class="alert">
          @if (addStaffForm.get('staffFirstName')?.hasError('required')) {
          <div>First Name is required.</div>
          }
          @if(addStaffForm.get('staffFirstName')?.hasError('pattern')){
          <div>Only alphabetical characters are allowed</div>
          }
          @if(addStaffForm.get('staffFirstName')?.hasError('maxlength')){
          <div>First Name should not exceed more than 50 characters</div>
          }
          @if(addStaffForm.get('staffFirstName')?.hasError('minlength')){
          <div>First Name must conatin atleast 3 characters</div>
          }
        </div>
        }
        <!-- Last Name -->
        <label for="staffLastName">Last Name<span class="asterisk">*</span></label>
        <input id="staffLastName" type="text" placeholder="Enter Last Name" formControlName="staffLastName" required
          class="add-trainer-input" autocomplete="off" />
        @if(addStaffForm.get('staffLastName')?.invalid && (addStaffForm.get('staffLastName')?.dirty ||
        addStaffForm.get('staffLastName')?.touched)){
        <div class="alert">
          @if (addStaffForm.get('staffLastName')?.hasError('required')) {
          <div>Last Name is required.</div>
          }
          @if(addStaffForm.get('staffLastName')?.hasError('pattern')){
          <div>Only alphabetical characters are allowed</div>
          }
          @if(addStaffForm.get('staffLastName')?.hasError('maxlength')){
          <div>Last Name should not exceed more than 50 characters</div>
          }
        </div>
        }
        <!--Phone-->
        <label for="staffPhone">Phone Number<span class="asterisk">*</span></label>
        <input type="text" id="staffPhone" placeholder="Enter Phone Number" formControlName="staffPhone" required
          class="add-trainer-input">
        @if(addStaffForm.get('staffPhone')?.invalid && (addStaffForm.get('staffPhone')?.dirty ||
        addStaffForm.get('staffPhone')?.touched)){
        <div class="alert">
          @if (addStaffForm.get('staffPhone')?.hasError('required')) {
          <div>Phone Number is required.</div>
          }
          @if(addStaffForm.get('staffPhone')?.hasError('pattern')){
          <div>Alphabetic characters not allowed</div>
          }
          @if(addStaffForm.get('staffPhone')?.hasError('maxlength')){
          <div>Phone Number should not exceed more than 10 numbers</div>
          }
          @if(addStaffForm.get('staffPhone')?.hasError('minlength')){
          <div>Phone Number must conatin 10 Numbers</div>
          }
        </div>
        }
        <!-- Password -->
        <div *ngIf="showPasswordField">
          <label for="staffPassword">Password<span class="asterisk">*</span></label>
          <input id="staffPassword" type="password" placeholder="Enter Password" formControlName="staffPassword"
            required class="add-trainer-input" autocomplete="new-password" />
          @if(addStaffForm.get('staffPassword')?.invalid && (addStaffForm.get('staffPassword')?.dirty ||
          addStaffForm.get('staffPassword')?.touched)){
          <div class="alert">
            @if (addStaffForm.get('staffPassword')?.hasError('required')) {
            <div>Password is required</div>
            }
            @if(addStaffForm.get('staffPassword')?.hasError('pattern')){
            <div>* At least one lowercase<br>
              * At least one uppercase
              <br>
              * At least one digit
              <br>
              * At least one special character
              <br>
              * Password must be between 8 to 16 characters
            </div>
            }
          </div>
          }
        </div>
        <!-- Gender -->
        <label for="staffGender">Gender<span class="asterisk">*</span></label>
        <select id="staffGender" formControlName='staffGender' required class="dropdown">
          <option value="" selected>Select Gender</option>
          <option value="0">Undefined</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
          <option value="3">Other</option>
        </select>
        @if(addStaffForm.get('staffGender')?.invalid && (addStaffForm.get('staffGender')?.dirty ||
        addStaffForm.get('staffGender')?.touched)){
        <div class="alert">
          @if(addStaffForm.get('staffGender')?.hasError('required')){
          Select Gender
          }
        </div>
        }
        <!-- Designation -->
        <!-- <label for="staffDesignation" class="visually-hidden">Designation</label>
      <input
        id="staffDesignation"
        type="text"
        placeholder="Enter Designation"
        formControlName = "staffDesignation"
        [(ngModel)]="staffDesignation"
        name="staffDesignation"
        required
        class="add-trainer-input"
        autocomplete="off"
      />
      @if(addStaffForm.get('staffDesignation')?.invalid && (addStaffForm.get('staffDesignation')?.dirty ||
      addStaffForm.get('staffDesignation')?.touched)){
        <div class="alert">
          @if(addStaffForm.get('staffDesignation')?.hasError('required')){
           Designation is required
          }
        </div>
      } -->
        <!-- Employment Type -->
        <label for="staffEmploymentType">Employment Type<span class="asterisk">*</span></label>
        <select id="staffEmploymentType" formControlName="staffEmploymentType" required class="dropdown">
          <option value="" selected>Select Employment Type</option>
          <option value="0">Permanent</option>
          <option value="1">Temporary</option>
        </select>
        <!-- DOB -->
        <label for="staffDOB">Date of Birth<span class="asterisk">*</span></label>
        <input id="staffDOB" type="date" formControlName="staffDOB" required class="add-trainer-input" />
        <!-- Date of Joining -->
        <label for="staffDOJ">Date of Joining<span class="asterisk">*</span></label>
        <input id="staffDOJ" type="date" formControlName="staffDOJ" required class="add-trainer-input" />
        <!-- Qualification -->
        <label for="staffQualification">Qualification<span class="asterisk">*</span></label>
        <input id="staffQualification" type="text" placeholder="Qualification" formControlName="staffQualification"
          required class="add-trainer-input" autocomplete="off" />

        <label for="mapUnit">Map unit location</label>
        <ng-multiselect-dropdown formControlName="unitLoc" [placeholder]="'Map Unit'" [settings]="dropdownSettings"
          [data]="unitLocArray" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" style="margin-bottom: 50px;">
        </ng-multiselect-dropdown>

        <!-- <select name="" id="" (change)="OnUnitChange()" formControlName="unit">
          <option value="">Select unit</option>
          <option [value]="unit.unitId" *ngFor="let unit of unitLoc">{{unit.unitName}}</option>
        </select>
        <div>
          <select name="" id="" formControlName="state" (change)="onStateChange()">
            <option value="">Select state</option>
            <option [value]="loc.stateId" *ngFor="let loc of selectedState">{{loc.stateName}}</option>
          </select>
          <select name="" id="" formControlName="district" (change)="onDistrictChange()">
            <option value="">Select district</option>
            <option [value]="loc.districtId" *ngFor="let loc of selectedUnitLoc">{{loc.districtName}}</option>
          </select>
        </div> -->
        <div class="modal-actions">
          <button type="submit" class="add-btn" [disabled]=addStaffForm.invalid>
            Add
          </button>
          <button type="button" (click)="closeAddStaffModal()" class="reset-btn">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Sl No</th>
          <th>Name</th>
          <th>Email</th>
          <th>Assignments</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of staff | filterBy: itemFilter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
          <td>{{ (p - 1) * 5 + i + 1  }}</td>
          <td>{{ item.firstName }} {{item.lastName}}</td>
          <td>{{ item.email }}</td>

          <td>
            <div *ngFor="let assignment of item.unitLocationDetails ; let i = index">
              <span style="font-weight: 700;">{{i+1}}. </span>
              <span>{{assignment.unitName}} - {{assignment.districtName}},{{assignment.stateName}}</span>
            </div>
            <ng-container *ngIf="!item.unitLocationDetails || item.unitLocationDetails.length==0">
              No assigned units
            </ng-container>
          </td>
          <td>
            <label class="modern-switch">
              <input type="checkbox" [(ngModel)]="item.status" name="status{{i}}" />
              <span class="modern-slider"></span>
            </label>
            <span class="status-label" [ngClass]="{ 'deactive': item.status, 'active': !item.status }">
              {{ item.status ? 'Deactive' : 'Active' }}
            </span>

          </td>
          <td>
            <button class="reassign-btn" (click)="editStaff(item)"><i class="fa fa-edit"></i></button>
            <button class="delete-btn" (click)="confirmDelete(item)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf="staff.length === 0">
          <td colspan="5" class="no-data-message">
            No staff found matching the criteria.
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>

    <div class="modal-backdrop" *ngIf="showDeleteConfirm">
      <div class="modal">
        <h3>Delete Assignment</h3>
        <p>
          Are you sure you want to delete this assignment for
          <!-- <strong>{{ trainerToDelete?.email }}</strong>
        <span *ngIf="trainerToDelete && assignmentToDeleteIndex !== null">
          at {{ trainerToDelete.assignments[assignmentToDeleteIndex].unit }} </span>? -->
        </p>
        <div class="modal-actions">
          <button (click)="deleteStaff()">Yes, Delete</button>
          <button (click)="cancelDelete()">Cancel</button>
        </div>
      </div>
    </div>
  </div>