<div class="main-container">
    <div class="forgotPasswordDiv" >
        <p class="heading">Forgot Password</p>
    <p>Kindly provide the Registered email address</p>
    <form class="in" action="" [formGroup]="forgotPasswordForm" (ngSubmit)="sendEmail()">
        <!-- <label for="email">Email</label> -->
       <div class="fomr-group">
         <input type="email" class="fomr-control" placeholder="Enter email" formControlName="email">
        <br>
        <button class="submitBtn" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">Generate OTP</button>
        <!-- <div *ngIf="countDownSeconds > 0">
      Resend OTP in: {{ countDownSeconds }} seconds
    </div> -->
        <!-- <div>
            <button class="submitBtn" (click)="resendOtp()">Resend OTP</button>
        </div> -->
       </div>
       <!-- <a [routerLink]="['/Reset-password']">Reset</a> -->
    </form>
    <!-- <p>Kindly provide the email address to which the password reset link should be sent.</p> -->
    <p style="margin-top: 15px;">OTP for reset password will be sent to your Registered email, if account is valid</p>
    </div>

    <div>

    </div>
    <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form action="" [formGroup]="verifyOTPForm" (ngSubmit)="verifyOTP()">
       <div class="vertifyOTPDiv" *ngIf="isVerifyOTPDivDisabled">
         <!-- <input type="email" formControlName="email" id=""> -->
        <ng-otp-input formControlName="otp" [config]="{ length: 6 }"></ng-otp-input>
        <br>
         <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <button type="submit" class="btn btn-primary" [disabled]="isVerifyOTPBtnDisabled">Verify OTP</button>
         <div *ngIf="countDownSeconds > 0">
          
      Resend OTP in: {{ countDownTime }} seconds
    </div>
        <p>Didn't Recevie OTP? <a (click)="resendOtp()" style="color: blue; cursor: pointer; text-decoration: underline;" [class.disabled]="isResendLinkDisabled" class="resend-link">Resend</a></p>
       </div>
       <div class="resetPasswordDiv" *ngIf="disabledResetPasswordDiv">
        <p class="heading">Reset Password</p>
        <label for="newPassword"> New Password</label>
        <input type="password" formControlName="newPassword">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" formControlName="confirmPassword">
        <button type="button" (click)="resetPassword()" class="submitBtn">Reset Password</button>
       </div>
       </form>
      </div>
    </div>
  </div>
</div>
</div>