<div class="dashboard-container">
  <div class="superAdminDiv" *ngIf="isSuperAdminLoggedIn">
    <!-- Feedback Message -->
    <div *ngIf="feedbackMessage" [ngClass]="['feedback', feedbackMessageType]">
      {{ feedbackMessage }}
    </div>

    <!-- Header -->
    <div class="header">
      <h2>Institute Management</h2>
      <button class="add-btn" (click)="openAddModal()">+ Add Institute</button>
    </div>

    <!-- Institutes Grid -->
    <div class="institutes-grid">
      <div class="institute-card" *ngFor="let institute of institutes; let i = index">
        <div class="card-left">
          <div class="serial-number">#{{ i + 1 }}</div>
          <img *ngIf="institute.logoUrl; else noLogo" [src]="institute.logoUrl" class="institute-logo" alt="Logo" />
          <ng-template #noLogo>
            <div class="institute-logo no-logo">
              <i class="fa fa-image"></i>
            </div>
          </ng-template>
        </div>
        <!-- <div class="card-center">
        <h3 class="institute-name">{{ institute.name }}</h3>
        <div class="info-row">
          <span class="info-chip" *ngIf="institute.communicationChannels?.emailEnabled">
            <i class="fa fa-envelope"></i> Email Enabled
          </span>
          <span class="info-chip" *ngIf="institute.communicationChannels?.phoneEnabled">
            <i class="fa fa-phone"></i> SMS/Phone Enabled
          </span>
        </div> -->
        <div class="card-center">
          <h3 class="institute-name">{{ institute.name }}</h3>
          <div class="info-row">
            <span class="info-chip">
              <i class="fa fa-map-marker"></i> {{ institute.stateName }}, {{ institute.districtName }}
            </span>
            <span class="info-chip">
              <i class="fa fa-map-pin"></i> Pincode: {{ institute.pincode}}
            </span>
          </div>
        </div>
        <!-- <button class="admin-btn" (click)="openAdminModal(institute)">
    <i class="fa fa-user-shield"></i>
  </button> -->
        <div class="card-right">
          <div style="display: flex; flex-direction: row;">
            <button class="edit-btn" (click)="editInstitute(institute, $event)" [value]="institute.id">
              <i class="fa fa-edit"></i>
            </button>
            <button class="delete-btn" (click)="confirmDelete(institute, $event)" [value]="institute.id">
              <i class="fa fa-trash"></i>
            </button>
          </div>
          <button class="manage-admins-btn" (click)="navigateToManageAdmins($event)" [value]="institute.id"> Manage
            Admins
            <i class="bi bi-person-fill-add" style="font-size: 1.2em;"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Add/Edit Modal -->
    <div class="modal" *ngIf="isModalOpen">
      <div class="modal-content">
        <div class="modal-header">
          <h3>{{ isEditMode ? 'Edit Institute' : 'Add New Institute' }}</h3>
        </div>
        <form #instituteForm="ngForm" (ngSubmit)="saveInstitute(instituteForm)" novalidate>
          <!-- Institute Name -->
          <div class="form-group">
            <label>Institute Name *</label>
            <input type="text" [(ngModel)]="form.name" name="name" required placeholder="Enter institute name"
              #name="ngModel" maxlength="100" minlength="3" pattern="^[a-zA-Z]*$"/>

            @if (name.invalid && (name.dirty || name.touched)) {
            <div class="alert">
              @if (name.hasError('required')) {
              <div class="alert">
                Institute Name is required.
              </div>
              }
              @if(name.hasError('maxlength')){
                Institute name length should be less than 100 characters
              }
              @if(name.hasError('minlength')){
                Institute name length should be more than 3 characters
              }
              @if(name.hasError('pattern')){
                Institute Name should contain only alphabetical characters
              }
            </div>
            }
          </div>

          <!-- Logo (Only in Edit) -->
          <div class="form-group" *ngIf="isEditMode">
            <label>Logo</label>
            <input type="file" (change)="onLogoSelected($event)" />
          </div>

          <!-- Communication Channel -->
          <!-- <div class="form-group">
          <label class="comm-channel-heading">Communication Channel</label>
          <div>
            <label>
              <input type="checkbox" [(ngModel)]="form.communicationChannels.emailEnabled" name="emailEnabled" />
              Email Enabled
            </label>
            <label style="margin-left:16px;">
              <input type="checkbox" [(ngModel)]="form.communicationChannels.phoneEnabled" name="phoneEnabled" />
              SMS/Phone Enabled
            </label>
          </div>
        </div> -->


          <!-- Storage Info -->
          <div class="form-group">
            <label>Private Container Name *</label>
            <input type="text" [(ngModel)]="form.storageInfo.storageContainerName" name="privateContainer" required
              placeholder="Enter private container" #privateContainerName="ngModel" maxlength="100" minlength="3" pattern="^[a-zA-Z]*$" />
            @if (privateContainerName.invalid && (privateContainerName.dirty || privateContainerName.touched)) {
            <div class="alert">
              @if (privateContainerName.hasError('required')) {
              <div>
                Private Container Name is required
              </div>
              }
               @if(privateContainerName.hasError('minlength')){
                <div>
                  Private ContainerName length should be more than 3 characters
                </div>
              }
              @if(privateContainerName.hasError('maxlength')){
                <div>
                  Private ContainerName length should be less than 100 characters
                </div>
              }
              @if(privateContainerName.hasError('pattern')){
                <div>
                  Private ContainerName should contain only alphabetical characters
                </div>
              }
            </div>
            }
          </div>
          <div class="form-group">
            <label>Public Container Name *</label>
            <input type="text" [(ngModel)]="form.storageInfo.storageContainerNamePublic" name="publicContainer" required
              placeholder="Enter public container" #publicContainerName="ngModel" minlength="3" maxlength="100" pattern="^[a-zA-Z-]*$"/>
            @if (publicContainerName.invalid && (publicContainerName.dirty || publicContainerName.touched)) {
            <div class="alert">
              @if (publicContainerName.hasError('required')) {
              <div>
                Public Container Name is required
              </div>
              }
               @if(publicContainerName.hasError('minlength')){
                <div>
                  Public ContainerName length should be more than 3 characters
                </div>
              }
              @if(publicContainerName.hasError('maxlength')){
                <div>
                  Public ContainerName length should be less than 100 characters
                </div>
              }
              @if(publicContainerName.hasError('pattern')){
                <div>
                  Public ContainerName should contain only alphabetical characters
                </div>
              }
            </div>
            }
          </div>

          <!-- Address -->
          <div class="form-group">
            <label>State *</label>

            <!-- Wrap the async pipe in a container to avoid scope problems -->
            <ng-container *ngIf="states$ | async as states">
              <select [(ngModel)]="form.address.state" name="state" required (ngModelChange)="onStateSelect($event)"
                #state="ngModel">
                <option value="" disabled>Select State</option>
                <option *ngFor="let state of states" [ngValue]="state.id">{{ state.name }}</option>
              </select>

              <!-- Error message -->
              <div *ngIf="state.invalid && (state.dirty || state.touched)">
                <div class="alert" style="color: red;">State is required</div>
              </div>
            </ng-container>
      </div>




      <div class="form-group">
  <label>District *</label>

  <select
    [(ngModel)]="form.address.district"
    name="district"
    required
    #district="ngModel"
    [disabled]="!form.address.state"
  >
    <option value="" disabled>Select District</option>
    <ng-container *ngIf="districts$ | async as districts">
      <option *ngFor="let district of districts" [ngValue]="district.id">
        {{ district.name }}
      </option>
    </ng-container>
  </select>

  <div *ngIf="district.invalid && (district.dirty || district.touched)">
    <div class="alert">District is required</div>
  </div>
</div>


      <div class="form-group">
        <label>Pincode *</label>
        <input type="text" name="pincode" [(ngModel)]="form.address.pincode" required minlength="6" maxlength="6"
          pattern="^[0-9]{6}$" placeholder="Enter pincode" #pincode="ngModel" />

        @if (pincode.invalid && (pincode.dirty || pincode.touched)) {
        <div class="alert">
          @if (pincode.hasError('required')) {
          <div>Pincode is required</div>
          }

          @if (pincode.hasError('pattern')) {
          <div>only numeric characters</div>
          }

          @if (pincode.hasError('minlength') || pincode.hasError('maxlength')) {
          <div>Pincode must be 6 digits long</div>
          }
        </div>
        }

      </div>
      <!-- Actions -->
      <div class="modal-actions">
        <button type="submit" class="add-btn" [disabled]="instituteForm.invalid">Save</button>
        <button type="button" class="cancel" (click)="closeModal(instituteForm)">Cancel</button>
      </div>
      </form>
    </div>
  </div>

  <!-- Delete Confirmation Modal -->
  <div class="modal confirmation-modal" *ngIf="isDeleteConfirmOpen">
    <div class="modal-content">
      <h3>Confirm Deletion</h3>
      <p>Are you sure you want to delete <strong>{{ instituteToDelete?.name }}</strong>?</p>
      <div class="modal-actions">
        <button (click)="deleteInstitute()">Yes, Delete</button>
        <button class="cancel" (click)="cancelDelete()">Cancel</button>
      </div>
    </div>
  </div>
</div>
<div class="AdminDiv" *ngIf="isAdminLoggedIn">
  <div *ngIf="isLoading">
     <app-loading-spinner  style="text-align:center ;"></app-loading-spinner>
  </div>
  <h1 class="dashboard-title">{{Role}} Dashboard</h1>
  <div class="dashboard-cards-container">


    <div class="dashboard-card">
      <div class="card-icon units-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z" />
        </svg>
      </div>
      <div class="card-content">
        <div class="card-title">Units</div>
        <div class="card-number">{{unitCount}}</div>
      </div>
      <div class="card-footer">
        <a [routerLink]="['/Edit-Units']" class="card-link">View All Units &rarr;</a>
      </div>
    </div>
    <div class="dashboard-card">
      <div class="card-icon trainers-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path
            d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
        </svg>
      </div>
      <div class="card-content">
        <div class="card-title">Unit Head</div>
        <!-- <div class="card-number">{{ numberOfTrainers }}</div> -->
        <div class="card-number">{{unitHeadCount}}</div>
      </div>
      <div class="card-footer">
        <a [routerLink]="['/Edit-Trainers']" class="card-link">View All Unit Head &rarr;</a>
      </div>
    </div>

  </div>
  <!-- <ul *ngIf="units$ | async as units">
  <li *ngFor="let unit of units">{{ unit.Name }}</li>
</ul> -->

</div>
<div class="unitHeadDiv" *ngIf = "isUnitHeadLoggedIn">
  <div>
    <!-- <form action="" [formGroup]="unitLocForm"> -->
    <!-- <select name="" id=""  (change)="OnUnitChange()" formControlName ="unit">
      <option value="">Select unit</option>
      <option [value]="unit.unitId" *ngFor="let unit of unitLoc">{{unit.unitName}}</option>
    </select>
    <div>
     <select name="" id="" formControlName="state" (change)="onStateChange()">
      <option value="">Select state</option>
      <option [value]="loc.stateId" *ngFor="let loc of selectedState">{{loc.stateName}}</option>
    </select>
     <select name="" id="" formControlName="district" (change)="onDistrictChange()">
      <option value="">Select district</option>
      <option [value]="loc.districtId" *ngFor="let loc of selectedUnitLoc">{{loc.districtName}}</option>
    </select>
    </div> -->
    
  <!-- </form> -->
  </div>
</div>
</div>